{
  "openapi": "3.1.0",
  "info": {
    "title": "Multibags Api Documentation",
    "description": "Multibags Api Documentation",
    "termsOfService": "urn:tos",
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0"
    },
    "version": "1.0"
  },
  "servers": [
    {
      "url": "http://multibags.1dt.com.br/"
    }
  ],
  "paths": {
    "/api/v1/customer/login": {
      "post": {
        "description": "Customer can authenticate after registration, request is {\"username\":\"admin\",\"password\":\"password\"}",
        "operationId": "postAuthenticateCustomer",
        "parameters": [
          {
            "name": "mobile",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "devicePlatform",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "UNKNOWN",
                "IOS",
                "ANDROID"
              ]
            }
          },
          {
            "name": "normal",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "tablet",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "description": "authenticationRequest",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "password": {
                    "type": "string",
                    "required": true,
                    "example": "aA#123456789"
                  },
                  "username": {
                    "type": "string",
                    "required": true,
                    "example": "otoniel.isidoro@gmail.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Response description currently not supported by RestTestGen.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCodeValue": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "body": {
                      "type": "object",
                      "properties": {}
                    },
                    "statusCode": {
                      "type": "string",
                      "enum": [
                        "431",
                        "510",
                        "511",
                        "200",
                        "201",
                        "202",
                        "400",
                        "203",
                        "401",
                        "204",
                        "402",
                        "205",
                        "403",
                        "206",
                        "404",
                        "207",
                        "405",
                        "208",
                        "406",
                        "407",
                        "408",
                        "409",
                        "451",
                        "410",
                        "411",
                        "412",
                        "413",
                        "414",
                        "415",
                        "416",
                        "417",
                        "418",
                        "419",
                        "100",
                        "101",
                        "420",
                        "102",
                        "300",
                        "421",
                        "103",
                        "301",
                        "422",
                        "302",
                        "423",
                        "500",
                        "226",
                        "303",
                        "424",
                        "501",
                        "304",
                        "502",
                        "305",
                        "426",
                        "503",
                        "504",
                        "307",
                        "428",
                        "505",
                        "308",
                        "429",
                        "506",
                        "507",
                        "508",
                        "509"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "x-dependencies": []
      }
    },
    "/api/v1/auth/customers/profile": {
      "get": {
        "operationId": "getCustomerProfile",
        "description": "get the authenticated customer profile",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string",
              "enum": [
                "application/xml",
                "application/json"
              ]
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Response description currently not supported by RestTestGen.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "delivery": {
                      "type": "object",
                      "properties": {
                        "country": {
                          "type": "string",
                          "required": true,
                          "example": "US"
                        },
                        "lastName": {
                          "type": "string",
                          "required": true,
                          "example": "Jackson"
                        },
                        "address": {
                          "type": "string"
                        },
                        "city": {
                          "type": "string"
                        },
                        "latitude": {
                          "type": "string"
                        },
                        "postalCode": {
                          "type": "string"
                        },
                        "stateProvince": {
                          "type": "string",
                          "required": true,
                          "example": ""
                        },
                        "bilstateOther": {
                          "type": "string"
                        },
                        "firstName": {
                          "type": "string",
                          "required": true,
                          "example": "Michael"
                        },
                        "phone": {
                          "type": "string"
                        },
                        "zone": {
                          "type": "string",
                          "required": true,
                          "example": "VA"
                        },
                        "company": {
                          "type": "string"
                        },
                        "billingAddress": {
                          "type": "boolean",
                          "required": true
                        },
                        "longitude": {
                          "type": "string"
                        }
                      }
                    },
                    "lastName": {
                      "type": "string"
                    },
                    "gender": {
                      "type": "string"
                    },
                    "rating": {
                      "type": "number",
                      "format": "double"
                    },
                    "groups": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "id": {
                            "type": "integer",
                            "format": "int64"
                          }
                        }
                      }
                    },
                    "language": {
                      "type": "string"
                    },
                    "ratingCount": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "userName": {
                      "type": "string"
                    },
                    "billing": {
                      "type": "object",
                      "properties": {
                        "country": {
                          "type": "string",
                          "required": true,
                          "example": "US"
                        },
                        "lastName": {
                          "type": "string",
                          "required": true,
                          "example": "Jackson"
                        },
                        "address": {
                          "type": "string"
                        },
                        "city": {
                          "type": "string"
                        },
                        "latitude": {
                          "type": "string"
                        },
                        "postalCode": {
                          "type": "string"
                        },
                        "stateProvince": {
                          "type": "string",
                          "required": true,
                          "example": ""
                        },
                        "bilstateOther": {
                          "type": "string"
                        },
                        "firstName": {
                          "type": "string",
                          "required": true,
                          "example": "Michael"
                        },
                        "phone": {
                          "type": "string"
                        },
                        "zone": {
                          "type": "string",
                          "required": true,
                          "example": "VA"
                        },
                        "company": {
                          "type": "string"
                        },
                        "billingAddress": {
                          "type": "boolean",
                          "required": true
                        },
                        "longitude": {
                          "type": "string"
                        }
                      }
                    },
                    "firstName": {
                      "type": "string"
                    },
                    "emailAddress": {
                      "type": "string"
                    },
                    "provider": {
                      "type": "string"
                    },
                    "attributes": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "textValue": {
                            "type": "string"
                          },
                          "customerOptionValue": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "string"
                              },
                              "description": {
                                "type": "object",
                                "properties": {
                                  "keyWords": {
                                    "type": "string"
                                  },
                                  "highlights": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "description": {
                                    "type": "string"
                                  },
                                  "language": {
                                    "type": "string"
                                  },
                                  "id": {
                                    "type": "integer",
                                    "format": "int64"
                                  },
                                  "friendlyUrl": {
                                    "type": "string"
                                  },
                                  "title": {
                                    "type": "string"
                                  },
                                  "metaDescription": {
                                    "type": "string"
                                  }
                                }
                              },
                              "id": {
                                "type": "integer",
                                "format": "int64"
                              },
                              "order": {
                                "type": "integer",
                                "format": "int32"
                              }
                            }
                          },
                          "id": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "customerOption": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "string"
                              },
                              "description": {
                                "type": "object",
                                "properties": {
                                  "keyWords": {
                                    "type": "string"
                                  },
                                  "highlights": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "description": {
                                    "type": "string"
                                  },
                                  "language": {
                                    "type": "string"
                                  },
                                  "id": {
                                    "type": "integer",
                                    "format": "int64"
                                  },
                                  "friendlyUrl": {
                                    "type": "string"
                                  },
                                  "title": {
                                    "type": "string"
                                  },
                                  "metaDescription": {
                                    "type": "string"
                                  }
                                }
                              },
                              "id": {
                                "type": "integer",
                                "format": "int64"
                              },
                              "type": {
                                "type": "string"
                              },
                              "order": {
                                "type": "integer",
                                "format": "int32"
                              }
                            }
                          }
                        }
                      }
                    },
                    "id": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "storeCode": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Response description currently not supported by RestTestGen.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "path": {
                      "type": "string",
                      "required": true
                    },
                    "error": {
                      "type": "string",
                      "required": true
                    },
                    "message": {
                      "type": "string",
                      "required": true
                    },
                    "timestamp": {
                      "type": "number",
                      "required": true
                    },
                    "status": {
                      "type": "number",
                      "required": true
                    }
                  }
                }
              }
            }
          }
        },
        "x-dependencies": []
      }
    },
    "/api/v1/products/{productId}/reviews": {
      "get": {
        "operationId": "getProductReviews",
        "description": "list all reviews for a given product with id {productId}",
        "parameters": [
          {
            "name": "productId",
            "description": "productId",
            "in": "path",
            "example": 2,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Response description currently not supported by RestTestGen.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "date": {
                        "type": "string"
                      },
                      "productId": {
                        "type": "integer",
                        "format": "int64"
                      },
                      "rating": {
                        "type": "number",
                        "format": "double"
                      },
                      "description": {
                        "type": "string"
                      },
                      "language": {
                        "type": "string"
                      },
                      "id": {
                        "type": "integer",
                        "format": "int64",
                        "description": "the created review id, reviewId"
                      },
                      "customer": {
                        "type": "object",
                        "properties": {
                          "delivery": {
                            "type": "object",
                            "properties": {
                              "country": {
                                "type": "string",
                                "required": true,
                                "example": "US"
                              },
                              "lastName": {
                                "type": "string",
                                "required": true,
                                "example": "Jackson"
                              },
                              "address": {
                                "type": "string"
                              },
                              "city": {
                                "type": "string"
                              },
                              "latitude": {
                                "type": "string"
                              },
                              "postalCode": {
                                "type": "string"
                              },
                              "stateProvince": {
                                "type": "string",
                                "required": true,
                                "example": ""
                              },
                              "bilstateOther": {
                                "type": "string"
                              },
                              "firstName": {
                                "type": "string",
                                "required": true,
                                "example": "Michael"
                              },
                              "phone": {
                                "type": "string"
                              },
                              "zone": {
                                "type": "string",
                                "required": true,
                                "example": "VA"
                              },
                              "company": {
                                "type": "string"
                              },
                              "billingAddress": {
                                "type": "boolean",
                                "required": true
                              },
                              "longitude": {
                                "type": "string"
                              }
                            }
                          },
                          "lastName": {
                            "type": "string"
                          },
                          "gender": {
                            "type": "string"
                          },
                          "rating": {
                            "type": "number",
                            "format": "double"
                          },
                          "groups": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string"
                                },
                                "id": {
                                  "type": "integer",
                                  "format": "int64"
                                }
                              }
                            }
                          },
                          "language": {
                            "type": "string"
                          },
                          "ratingCount": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "userName": {
                            "type": "string"
                          },
                          "billing": {
                            "type": "object",
                            "properties": {
                              "country": {
                                "type": "string",
                                "required": true,
                                "example": "US"
                              },
                              "lastName": {
                                "type": "string",
                                "required": true,
                                "example": "Jackson"
                              },
                              "address": {
                                "type": "string"
                              },
                              "city": {
                                "type": "string"
                              },
                              "latitude": {
                                "type": "string"
                              },
                              "postalCode": {
                                "type": "string"
                              },
                              "stateProvince": {
                                "type": "string",
                                "required": true,
                                "example": ""
                              },
                              "bilstateOther": {
                                "type": "string"
                              },
                              "firstName": {
                                "type": "string",
                                "required": true,
                                "example": "Michael"
                              },
                              "phone": {
                                "type": "string"
                              },
                              "zone": {
                                "type": "string",
                                "required": true,
                                "example": "VA"
                              },
                              "company": {
                                "type": "string"
                              },
                              "billingAddress": {
                                "type": "boolean",
                                "required": true
                              },
                              "longitude": {
                                "type": "string"
                              }
                            }
                          },
                          "firstName": {
                            "type": "string"
                          },
                          "emailAddress": {
                            "type": "string"
                          },
                          "provider": {
                            "type": "string"
                          },
                          "attributes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "textValue": {
                                  "type": "string"
                                },
                                "customerOptionValue": {
                                  "type": "object",
                                  "properties": {
                                    "code": {
                                      "type": "string"
                                    },
                                    "description": {
                                      "type": "object",
                                      "properties": {
                                        "keyWords": {
                                          "type": "string"
                                        },
                                        "highlights": {
                                          "type": "string"
                                        },
                                        "name": {
                                          "type": "string"
                                        },
                                        "description": {
                                          "type": "string"
                                        },
                                        "language": {
                                          "type": "string"
                                        },
                                        "id": {
                                          "type": "integer",
                                          "format": "int64"
                                        },
                                        "friendlyUrl": {
                                          "type": "string"
                                        },
                                        "title": {
                                          "type": "string"
                                        },
                                        "metaDescription": {
                                          "type": "string"
                                        }
                                      }
                                    },
                                    "id": {
                                      "type": "integer",
                                      "format": "int64"
                                    },
                                    "order": {
                                      "type": "integer",
                                      "format": "int32"
                                    }
                                  }
                                },
                                "id": {
                                  "type": "integer",
                                  "format": "int64"
                                },
                                "customerOption": {
                                  "type": "object",
                                  "properties": {
                                    "code": {
                                      "type": "string"
                                    },
                                    "description": {
                                      "type": "object",
                                      "properties": {
                                        "keyWords": {
                                          "type": "string"
                                        },
                                        "highlights": {
                                          "type": "string"
                                        },
                                        "name": {
                                          "type": "string"
                                        },
                                        "description": {
                                          "type": "string"
                                        },
                                        "language": {
                                          "type": "string"
                                        },
                                        "id": {
                                          "type": "integer",
                                          "format": "int64"
                                        },
                                        "friendlyUrl": {
                                          "type": "string"
                                        },
                                        "title": {
                                          "type": "string"
                                        },
                                        "metaDescription": {
                                          "type": "string"
                                        }
                                      }
                                    },
                                    "id": {
                                      "type": "integer",
                                      "format": "int64"
                                    },
                                    "type": {
                                      "type": "string"
                                    },
                                    "order": {
                                      "type": "integer",
                                      "format": "int32"
                                    }
                                  }
                                }
                              }
                            }
                          },
                          "id": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "storeCode": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Response description currently not supported by RestTestGen.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "path": {
                      "type": "string",
                      "required": true
                    },
                    "error": {
                      "type": "string",
                      "required": true
                    },
                    "message": {
                      "type": "string",
                      "required": true
                    },
                    "timestamp": {
                      "type": "number",
                      "required": true
                    },
                    "status": {
                      "type": "number",
                      "required": true
                    }
                  }
                }
              }
            }
          }
        },
        "x-dependencies": []
      }
    },
    "/api/v1/auth/products/{productId}/reviews/{reviewId}": {
      "put": {
        "operationId": "putProductReview",
        "description": "update a product review {reviewId} of the given product id {productId} ",
        "parameters": [
          {
            "name": "productId",
            "description": "productId",
            "in": "path",
            "example": 2,
            "pattern": "^(10|[1-9])$",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "required": true
          },
          {
            "name": "reviewId",
            "description": "reviewId",
            "in": "path",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "required": true
          }
        ],
        "requestBody": {
          "description": "review",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "date": {
                    "type": "string",
                    "example": "2025-03-04"
                  },
                  "productId": {
                    "type": "integer",
                    "format": "int64",
                    "example": 2
                  },
                  "customerId": {
                    "type": "integer",
                    "format": "int64",
                    "required": true,
                    "example": 500
                  },
                  "rating": {
                    "type": "number",
                    "format": "double",
                    "required": true,
                    "example": 4.0
                  },
                  "description": {
                    "type": "string",
                    "required": true,
                    "example": "This is a good product"
                  },
                  "language": {
                    "type": "string",
                    "example": "en"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Response description currently not supported by RestTestGen.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "date": {
                      "type": "string",
                      "example": "2025-03-04"
                    },
                    "productId": {
                      "type": "integer",
                      "format": "int64",
                      "example": 2
                    },
                    "customerId": {
                      "type": "integer",
                      "format": "int64",
                      "required": true,
                      "example": 500
                    },
                    "rating": {
                      "type": "number",
                      "format": "double",
                      "required": true,
                      "example": 4.0
                    },
                    "description": {
                      "type": "string",
                      "required": true,
                      "example": "This is a good product"
                    },
                    "language": {
                      "type": "string",
                      "example": "en"
                    }
                  }
                }
              }
            }
          }
        },
        "x-dependencies": []
      },
      "delete": {
        "operationId": "deleteProductReview",
        "description": "delete a product review with id {reviewId} of a given product id {productId}",
        "parameters": [
          {
            "name": "reviewId",
            "description": "reviewId",
            "in": "path",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "required": true
          },
          {
            "name": "productId",
            "description": "productId",
            "in": "path",
            "example": 2,
            "pattern": "^(10|[1-9])$",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Response description currently not supported by RestTestGen.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "date": {
                      "type": "string",
                      "example": "2025-03-04"
                    },
                    "productId": {
                      "type": "integer",
                      "format": "int64",
                      "example": 2
                    },
                    "customerId": {
                      "type": "integer",
                      "format": "int64",
                      "required": true,
                      "example": 500
                    },
                    "rating": {
                      "type": "number",
                      "format": "double",
                      "required": true,
                      "example": 4.0
                    },
                    "description": {
                      "type": "string",
                      "required": true,
                      "example": "This is a good product"
                    },
                    "language": {
                      "type": "string",
                      "example": "en"
                    }
                  }
                }
              }
            }
          }
        },
        "x-dependencies": []
      }
    },
    "/api/v1/auth/products/{productId}/reviews": {
      "post": {
        "operationId": "postProductReview",
        "description": "Create a review for a product with the {productId} informed on the path",
        "parameters": [
          {
            "name": "productId",
            "description": "productId",
            "in": "path",
            "example": 2,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "required": true
          }
        ],
        "requestBody": {
          "description": "review",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "date": {
                    "type": "string",
                    "example": "2025-03-04"
                  },
                  "productId": {
                    "type": "integer",
                    "format": "int64",
                    "example": 2
                  },
                  "customerId": {
                    "type": "integer",
                    "format": "int64",
                    "required": true,
                    "example": 500
                  },
                  "rating": {
                    "type": "number",
                    "format": "double",
                    "required": true,
                    "example": 4.0,
                    "minimum": 1.0,
                    "maximum": 5.0
                  },
                  "description": {
                    "type": "string",
                    "required": true,
                    "example": "This is a good product"
                  },
                  "language": {
                    "type": "string",
                    "example": "en"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int64",
                      "example": 540,
                      "description": "id of the created review, reviewId"
                    },
                    "date": {
                      "type": "string",
                      "example": "2025-03-04"
                    },
                    "productId": {
                      "type": "integer",
                      "format": "int64",
                      "example": 2
                    },
                    "customerId": {
                      "type": "integer",
                      "format": "int64",
                      "required": true,
                      "example": 500
                    },
                    "rating": {
                      "type": "number",
                      "format": "double",
                      "required": true,
                      "example": 4.0
                    },
                    "description": {
                      "type": "string",
                      "required": true,
                      "example": "This is a good product"
                    },
                    "language": {
                      "type": "string",
                      "example": "en"
                    }
                  }
                }
              }
            },
            "links": {
              "reviewId": {
                "operationRef": "#/api/v1/auth/products/{productId}/reviews/{reviewId}",
                "parameters": {
                  "reviewId": "$response.body#/id",
                  "id": "$response.body#/productId"
                }
              }
            }
          }
        },
        "x-dependencies": []
      }
    }
  }
}